/*IMPORTANT :  paddings are modified (set by default on 9px line 1621 in file bootstrap.css)*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12,
.col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14,
.col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16 {
  padding-left: 0px;
  padding-right: 0px;}

body{
    background-color:#36474f;
    font-family:'Open Sans';
    font-size: 12px;
    height: 100%;
}

p{
    color: white;
}

.container{
    width: 100%;
    height: 100%;
}

li{
    list-style-type: none;
}

address{
    color:#364951;
    font-size: 0.8em;
}

div.main-content{
    margin-bottom: 20px;
}

label.required-field:before{
    color: red; content:"* ";
}

.left-menu-square-profile button{
    border:1px solid #212121;
    border-radius:5px;
    text-align: center;
    color: #212121;
    background-color: #00B8D4;
    font-family: Open Sans Semi Bold;
    font-size: 0.8em;
    margin-left : 5px;
    height: 25px;
    line-height:0.5em;;
}

.profile-links a{
    border:1px solid #212121;
    border-radius: 5px;
    height: 20px;
    line-height: 1.8em;
}

/*TOP BAR elements*/

.top-navbar{
    height: 60px;
    background-color:#212121;
    border-bottom: 1px solid #00b8d4;
    text-align: left;
}

.top-search-box input{
    background-color: #212121;
    color:#00B7D3;
    border: 0px;
    font-family: 'Open Sans Semi Bold';
    font-size: 2em;
    background-image: url("img/icons/search_icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 50px;
}

div.top-search-box{
    background-color: #212121;
    height: 60px;
    border-bottom: 1px solid #00b8d4;
}
.form-control{
    height: 55px;
    background-color: transparent;
    border-radius:0px;
    animation: none;
}

.input-group{
    top:2px;
}

.btn-default{
    background-image: none;
    background-color: #364951;
    text-shadow:none;
    color:#00B8D4;
    border:1px solid #364951;
}

.btn-default:hover{
    background-image: none;
    background-color: #364951;
    color:#00B8D4;
    border-color: #364951;
}

.top-search-box .btn{
    border-radius:0px;
}

div.submit-navbar{
    background-color: grey;
    width:2%;
    border-bottom-color: 1px solid grey;
    border-radius: 2px;
    margin-top: 20px;
}

.logo-home a {
    padding-left: 15px;
    text-transform: uppercase;
    color:#00b8d4;
    font-family: 'Open Sans Extra Bold';
    font-size:2em;
    line-height: 2.4em;
}

.logo-home a:hover {
    text-decoration: none;
}

/*div.logo-home{
background-image: url("img/logo_menu-250px.png");
background-repeat: no-repeat;

}*/

.top-arrow {
    background-color:#00b8d4;
    height:60px;
    text-align: center;
}

.top-arrow img{
    margin-top: 20px;
}

form#search{
    margin-bottom: 0;
}

.general-information-page{
    top:100px;
    margin-bottom: 250px;
}

.general-information-page h4{
    color: #00B8D4;
    font-family: 'Open Sans Bold';
    text-align: center;
}

.registrati, .accedi{
    background-color:#00b8d4;
    height:100%;
}

.registrati a, .accedi a{
    color:#000;
    font-size: 1.4em;
    font-family: 'Open Sans Semi Bold';
    line-height: 3.4em;
    padding-left: 12px;
}

div.create-icon{/*"+ icon"*/
    width:50px;
    /*background-color: black;*/
    height: 100%;
}

a.dropdown-toggle{
    line-height: 1.5em;
}

.create-icon .nav > li > a,
.create-icon .nav > li > a:hover,
.create-icon .nav > li > a:active,
.create-icon .nav > li > a:focus{
background-color: transparent;
height: 100%;
}

.username .nav > li > a,
.username .nav > li > a:hover,
.username .nav > li > a:active,
.username .nav > li > a:focus{
background-color: transparent;
height: 100%;
}

.username a{
font-size: 1em;
font-family: 'Open Sans Semi Bold';
color: #000;
text-align: left;
}

.username span{
font-size: 0.8em;
font-family: 'Open Sans';
}

.dropdown-menu{
background-color: #00B8D4;
border-radius:0;
}

ul .dropdown-menu{
width: 100%;
}

.dropdown-menu a{
font-size: 0.9em;
}

.dropdown-menu > li > a:hover{
background-color: #000;
background-image: none;
color:#00B8D4;
}


/*LEFT MENU PRINCIPAL(home)*/
nav.left-menu{
    padding-top: 8px;
    height: auto;
    font-family: 'Open Sans Semi Bold';
    background-color:#212121;
    z-index:1;/*Pour que les liens du menu fonctionnent sinon ils sont cachés*/
    top: 60px;
    /*position: fixed;*/
}

.left-menu h4{
    font-size:1.2em;
    color:#9D9D9D;
    text-align: left;
    padding-left: 9px;
}

.left-menu ul{
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    border:1px solid #00b8d4;
}

.left-menu li {
    border-bottom:1px solid #00b8d4;
    margin-bottom: 0px;
    line-height: 35px;
    padding-left: 10px;
    list-style-type: none;
    height: 35px;
}

.left-menu ul:last-child {
    border-bottom:none;
}

.left-menu ul li:hover{
    background-color: #00b8d4;
}
.left-menu ul li:hover a{
    color: #212121;
}

.left-menu a{
    text-decoration: none;
    color: #00b8d4;
    font-size: 1.2em;
    display:block;
}

.left-menu a:hover{
    color: #212121;
}

.left-menu li:active{
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.left-menu ul .selected{
    background-color: #00b8d4;
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
.left-menu ul .selected a{
    color: #212121;
}


/***LEFT MENU carré utilisateur ***/
.left-menu-square-profile button.person-information{
    background-image: url("img/icons/info_icon.png");
    background-repeat: no-repeat;
    border:none;
    width: 40px;
    height: 40px;
    position: relative;
    top:8em;
    left: 40%;
}

/*div.left-menu-square-profile img{
    position: relative;
    top: 20px;
}*/

div.left-menu-square-profile{
    background-color: #00B8D4;
    color:#212121;
    text-align: center;
}

.left-menu .left-menu-square-profile li{
    padding-left: 0px;
}


.left-menu .left-menu-square-profile ul{
text-align: center;
}


.left-menu .left-menu-square-profile div img{
text-align: center;
}

.left-menu .left-menu-square-profile a{
        display: inline-block;
        color: #212121;
        font-size: 0.9em;
        padding-left: 10px;
        padding-right: 10px;
}

.left-menu .left-menu-square-profile a:hover{
        font-family: 'Open Sans Bold';
}


/*LEFT MENU OTHER PAGES (about us, privacy...)*/
nav.left-menu-other-pages{
    top: 100px;
    font-family: 'Open Sans Semi Bold';
}


.left-menu-other-pages ul{
    border:1px solid #00b8d4;
    border-radius: 5px;
    padding-left: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.left-menu-other-pages ul .selected{
    background-color: #00b8d4;
}
.left-menu-other-pages ul .selected a{
    color: #212121;
}

.left-menu-other-pages li {
    border-bottom:1px solid #00b8d4;
    margin-bottom: 0px;
    line-height: 35px;
    padding-left: 10px;
    list-style-type: none;
    height: 35px;
}

.left-menu-other-pages li:first-child {
    border-bottom:1px solid #00b8d4;
    border-radius: 5px 5px 0 0;
}

.left-menu-other-pages li:last-child {
    border-bottom:1px solid #00b8d4;
    border-radius: 0px 0px 5px 5px;
}

.left-menu-other-pages ul:last-child {
    border-bottom:none;
}

.left-menu-other-pages ul li:hover{
    background-color: #00b8d4;
}

.left-menu-other-pages a{
    text-decoration: none;
    color: #00b8d4;
    font-size: 1.2em;
    display:block;
}

.left-menu-other-pages a:hover{
    color: #212121;
}

.left-menu-other-pages li{
    background-color: #212121;
}
/*MAIN CONTENT PIACE*/

button.piace{
    background-color: #FF394F;
    border: 1px solid #FF394F;
    border-radius:5px;
    color: white;
    padding:5px;
}
/*
div.main-content-piace{
    top:135px;
    font-size: 1em;
    color: #6F8088;
    font-family: Open Sans;
    text-align: center;
    margin-bottom: 2em;
}

.main-content-piace a{
    color: #00B8D4;
}

.main-content-piace button{
    background-color: #FF394F;
    border: 1px solid #FF394F;
    border-radius:5px;
    color: white;
    padding:5px;
}

.main-content-piace button:hover{
        background-color: #b22737;
    border: 1px solid #b22737;
}
*/

/*Main content home*/

.main-content-home{
    background-color:#36474f;
    top: 100px;
    float: right;
}

div.pin-post{
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 4%;
    margin-bottom: 2em;
    background-color: #212121;
    height:310px;
    position: relative;
}

.pin-post img{
    width: 100%;
    height: 110px;
}

.content-type, .author-details{
    font-size: 1em;
    color: #6F8088;
    font-family: Open Sans;
}

.post-title h1{
    color:#00b8d4;
    font-size: 1.5em;
    font-family: Open Sans Semi Bold;
    margin-top: 10px;
}

.post-title a{
    text-decoration: none;
}

.event-details{
    background-color: #00B8D4;
    color:#fff;
    font-size: 1.4em;
}

div.author-details{
    position: absolute;
    width: 100%;
    bottom:20px;
}

div.comments-likes-numbers{
    position: absolute;
    width: 100%;
    bottom:5px;
    color:#00B8D4;
}

div.readmore-text{
    height: 158px;
    color: #6F8088;
}

.readmore-text a{
    color:#00B8D4;
}

.author-details a{
    color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans Bold;
    font-size: 1em;
}

a.author-details{
    color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans Bold;
    font-size: 1em;
}


.author-name {
    color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans Bold;
    font-size: 1em;
}

.comments-likes-numbers{
    font-size: 0.9em;
}


/*Main content about*/

div.main-content-about{
    background-color:#262626;
    top: 100px;
    border:1px solid #00B8D4;
    border-radius: 5px;
    margin-bottom: 100px;
}

.main-content-about, .main-content-details{
    padding: 8px;
    color:#00B8D4;
    text-align: justify;
}

/*Main content details post*/
div.main-content-details{
    background-color:#262626;
    top: 100px;
    border:1px solid #00B8D4;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.main-content-details h4, h3{
font-family: 'Open Sans Semi Bold';
}

.main-content-details p{
text-align: left;
}

.main-content-details p.author-details{
text-align: center;
}



.main-content-type{
    top:100px;
    font-size: 1em;
    color: #6F8088;
    font-family: Open Sans;
    text-align: center;
}

.main-content-footer{
    top:100px;
    font-size: 1em;
    color: #6F8088;
    font-family: Open Sans;
    text-align: center;
    margin-bottom: 2em;
}

.main-content-footer a{
    color: #00B8D4;
}

.main-content-footer button{
    background-color: #FF394F;
    border: 1px solid #FF394F;
    border-radius:5px;
    color: white;
    padding:10 20px;
}

.main-content-footer button:hover{
        background-color: #b22737;
    border: 1px solid #b22737;
}

/*SOCIAL ICONS UNDER POST or TUTO or EVENTS*/
div.under-social-icons{
    top: 100px;
    margin-bottom: 10px;
    text-align: right;
}

/*PERSONS SEARCH RESULTS*/

div.persons-search-results{
    top: 100px;
}

.persons-search-results h4{
    color: #00B8D4;
    font-family: Open Sans Semi Bold;
    text-align: center;
}

div.main-content-write-comments{
    top: 100px;
    margin-bottom: 100px;
}

.main-content-write-comments h5 {
    color:#00B8D4;
    text-align: center;
    display: block;
}

div.main-content-write-comments textarea{
    background-color: #445B66;
    border:1px solid #445B66;
    border-radius: 5px;
    color:#00B8D4;
    padding:10px;
    margin-bottom: 10px;
    resize: none;
}

.main-content-write-comments button{
    background-color: #00B8D4;
    padding:10px;
    border: 1px solid #00B8D4;
    border-radius:5px;
}

.main-content-write-comments button:hover{
    background-color: #0093a9;
}

div.main-content-comments{
    top: 150px;
    position: static;
}

.main-content-comments p{
    color: #00B8D4;
}

.main-content-comments span{
    color: #FFF;
}

/*specific actions-links in creation or modification content post or tuto*/

div.block-content-actions{
    top: 135px;
    margin-bottom: 10px;
    text-align: center;
}

div.content-actions{
    color: #00B8D4;
    margin-bottom: 10px;
    text-align: center;
    border:1px solid #00B8D4;
    border-radius: 5px;
    background-color: #262626;
    display: inline-block;
    padding: 5px 10px;
}

div.nav-steps-tutorial{
    color: #00B8D4;
    top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

div.nav-steps-tutorial a{
    color: #00B8D4;
    margin-right: 20px;
    margin-left: 20px;
}

div.content-actions a{
    color: #00B8D4;
    text-align: center;
    margin-left: 3px;
}


/*selector*/
div.search-selector{
    top:100px;
    margin-bottom: 20px;
}

.search-selector h3{
    color:#00B8D4;
    text-align: center;
}

.search-selector button a{
    color: #728D9A;
    font-family: 'Open Sans Bold';
}
.search-selector button.selected{
    background-color:#00B8D4;
    color:#212121;
    font-family: 'Open Sans Bold';
}

.search-selector a{
    text-decoration: none;
    color: #6E8694;
}

.search-selector a:active{
    color: #212121;
}

div.btn-group{
    margin-left: 15%;
    margin-right: 15%;
}

/*results-persons-page*/

div.author-identity{
    background-color: #212121;
    padding-top: 2%;
    padding-bottom: 1%;
    border: 1px solid #00BAD6;
    border-radius:8px;
    text-align: center;
    margin-right: 4%;
    margin-bottom: 4%;
    height: 240px;
}

.author-identity ul{
    padding: 0;
}

.author-identity a.author-details{
color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans Bold;
    font-size: 1em;
}

.author-identity a.handicap{
color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans Bold;
    font-size: 0.9em;
}

.author-identity a.social-actions{
color: #00b8d4;
    text-decoration: none;
    font-family: Open Sans;
    font-size: 0.9em;
}

.author-identity img{
    width: 80px;
    height: 80px;
    border: 2px solid #00B8D4;
    border-radius:50%;
}


.author-identity button{
   border: 1px solid #00B8D4;
    border-radius:5px;
    text-align: center;
    color: #000;
    background-color: #00B8D4;
    font-family: Open Sans Semi Bold;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-top: 20px;
}

/***PROFILE DETAILS - MODAL***/

div.modal-content{
    background-color: #262626;
}

div.modal-content p{
    color: #00B8D4;
}

h1.profile-field-title{
    color: #6F8088;
    font-size: 0.9em;
}

.modal-header img{
float: left;
}

ul.modal-title{
    margin-left: 1.7em;
}
ul.modal-title li{
    color:#00B8D4;
}

a.user-link{
    color: #FEA484;
    font-family: 'Open Sans Bold';
}
/***ERRORS***/
.global-error{
    color:#fb3f3f;
    text-align: center;
    font-style: italic;
    font-family: 'Open sans Bold';
    padding-left: 0px;
}

.field-error{
    color: color:#fb3f3f;
}

.text-danger{/*champ obligatoire*/
    color:#fb3f3f;
    text-align: left;
    font-style: italic;
    font-family: 'Open sans';
    padding-left: 0px;
}

.errorlist li{/*Erreur de remplissage des champs (en rouge au dessus des champs)*/
    color:#fb3f3f;
    text-align: left;
    font-style: italic;
    font-family: 'Open sans Bold';
}

/*** FORMS ***/
.form-footer{
    margin-top: 2em;
    font-size: 1em;
    color: #FFF;
    font-family: Open Sans;
    text-align: left;
}

/*LOGIN form*/

div.panel.panel-info
{
    background-color: #36474F;
    margin-top:80px;
    border:none;
}

.login-form .panel-info{
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 2em;
    background-color: #212121;
}

.profile-form .panel-info{
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 8em;
    margin-bottom: 2em;
    background-color: #212121;
}

h2.panel-title{
    color:#00B8D4;
    text-align: center;
    font-size: 1.7em;
    font-family: 'Open Sans Bold';
}

.panel-info > .panel-heading{
    background-color: #36474F;
    background-image: none;
    border:none;
}
.panel-info label{/*titres des champs de formulaires, d'un formulaire général(.panel-info) (label.control-label)*/
    color:#00B8D4;
    font-family: 'Open Sans';
    font-size: 0.9em;
}

label.control-label{
        padding-top: 10px;
}

.panel-info .checkboxes label{
word-wrap: break-word;
}

.dimenticato p{
    color: #00B8D4;
}

.dimenticato a{
    color: white;
    text-decoration: underline;
}
/*styles d'écriture dans les champs de login*/
.simple-form input[type="text"] {
   color:#00B8D4;
   padding-left: 5px;
}

input[type="file"] {
   color:#999999;
   padding-left: 5px;
   font-style: italic;
}

.simple-form input:focus{
    color:#00B8D4;
}
/*styles d'écriture dans les champs de password*/
input#password[type="password"] {
   color:#00B8D4;
   padding-left: 5px;
}

input#password:focus{
    color:#00B8D4;
}

/*Login Button (accedi, avanti...)*/
button.submit-btn{
    background-color: #00B8D4;
    background-image: none;
    color:#212121;
    font-size: 0.9em;
}

button.submit-btn:hover{
    background-color: #212121;
}

/*REGISTRATION*/
.form-group input[type="text"], input[type="email"], input[type="password"], input[type="url"], input[type="number"], textarea {
    color:#00B8D4;
    padding-left: 5px;
    background-color: #212121;
    border:1px solid #00B8D4;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 6%;
    width: 100%;
}

.form-group input[type="submit"]{
    color:#212121;
    padding-left: 5px;
    background-color: #00B8D4;
    border:1px solid #00B8D4;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 4%;
    width: 100%;
}

.form-group input[type="submit"]:hover{
    color:#00B8D4;
    background-color: #212121;
}

.form-group textarea {/*Zone de remplissage de texte pour les formulaires*/
    color:#00B8D4;
    padding-left: 5px;
    background-color: #212121;
    border:1px solid #00B8D4;
    border-radius: 8px;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
}

h3.panel-title{
    color: #00B8D4;
    text-align: center;
}

/*REGISTRATION - USER CATEGORY LIST*/


.user-category-list ul{
    font-family: 'Open Sans Semi Bold';
    background-color:#212121;
    text-align: left;
    border:1px solid #00b8d4;
    border-radius: 5px;
    padding-left: 0px;
}

.user-category-list li{
    border-bottom:1px solid #00b8d4;
    margin-bottom: 0px;
    line-height: 35px;
    list-style-type: none;
    height: 35px;
    color: #00b8d4;
}

.user-category-list li:first-child{

    border-radius: 5px 5px 0 0;
}

.user-category-list ul:last-child {
    border:1px solid #00b8d4;
    border-radius: 5px 5px 0 0;
}

.user-category-list ul li:hover{
    background-color: #00b8d4;
    color: #212121;

}

.user-category-list li:active{
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #212121;
}

.user-category-list ul .category-selected{
    background-color: #00b8d4;
    color: #212121;
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/*Content category*/

.content-category-list ul{
    font-family: 'Open Sans Semi Bold';
    background-color:#212121;
    text-align: left;
    border:1px solid #00b8d4;
    border-radius: 5px;
    padding-left: 0px;
}

.content-category-list li{
    border-bottom:1px solid #00b8d4;
    margin-bottom: 0px;
    line-height: 35px;
    list-style-type: none;
    height: 35px;
    color: #00b8d4;
}

.content-category-list li:first-child{

    border-radius: 5px 5px 0 0;
}

.content-category-list ul:last-child {
    border:1px solid #00b8d4;
    border-radius: 5px 5px 0 0;
}

.content-category-list ul li:hover{
    background-color: #00b8d4;
    color: #212121;

}

.content-category-list li:active{
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    color: #212121;
}

.content-category-list ul .category-selected{
    background-color: #00b8d4;
    color: #212121;
    background-image: url("img/icons/check_icon_black.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/*REGISTRATION COMPLETED*/


.global-message p {
    color:#00B8D4;
    font-size: 1.2em;
    padding-left: 5px;
}

.global-message{
    text-align: center;
    padding:20px;
    color: #00b8D4;
    background-color: #212121;
    border:1px solid #00B8D4;
    border-radius: 8px;
}

.global-message a{
    text-decoration: underline;
    color: #FFF;
}


/*.global-message h4{
text-align: center;
color: #00b8d4;
margin-bottom: 10px;
*/
}
/*Pagination*/

.pagination > li > a{
    background-color:transparent;
    border:0px;
    font-size: 2em;
    font-family: Open Sans Semi Bold;
}
.pagination > li > a:hover{
    color:#212121;
    background-color: #00BAD6;
    border: 1px solid #00BAD6;
    border-radius:5px;
}
.pagination > li > span{
    border:0px;
    font-size: 2em;
    font-family: Open Sans Semi Bold;
}

div.pagination{
    margin-top: 20px;
}

.pagination{
    text-align: center;
}

/*Footer*/
footer{
    margin-top: 100px;
    background-color: #00B8D4;
    position: static;
    width: 100%;
    bottom:0px;
    z-index: 1;
}


nav.nav-bottom{
    text-align: center;
    color: #212121;
}

.nav-bottom ul{
    text-align: center;
    padding:0;
}

.nav-bottom li{
    display: inline;
}

.nav-bottom a{
    display: inline-block;
    margin: 0 10px;
    font-family: Open Sans Semi Bold;
    font-size: 1.4em;
}

.logo-bottom h1{
    padding-top: 43px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3em;
    font-family: Open Sans Extra Bold;
}

div.visit-button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.visit-button a{
    font-family: Open Sans Semi Bold;
    font-size: 1.5em;
    color: #212121;
    background-color: #FDFF80;
    border-radius: 5px;
    border : 1px solid #FDFF80;
    padding: 5px 20px;
}

div.bottom-social-icons{
    text-align: center;
    margin-top: 20px;
}

.bottom-social-icons a{
    margin-left: 8px;
    margin-right: 8px;
}
div.informazioni-bottom{
    text-align: center;
    margin-top: 5px;
}

.informazioni-bottom a{
    font-family: Open Sans;
    font-size: 0.8em;
    color: #212121;
}

li.nuovi_fermenti{
    color:#0D82A8;
    font-weight: bold;
    font-style: italic;}

/*Fonts*/
@font-face{
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format("truetype");
}
@font-face{
    font-family: 'Open Sans Bold';
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf') format("truetype");
}

@font-face{
    font-family: 'Open Sans Semi Bold';
    src: url('fonts/Open_Sans/OpenSans-Semibold.ttf') format("truetype");
}

@font-face{
    font-family: 'Open Sans Extra Bold';
    src: url('fonts/Open_Sans/OpenSans-ExtraBold.ttf') format("truetype");
}

/*Media Queries*/
@media (max-width: 767px){/*smartphones*/
    nav.left-menu{top:135px;}
    nav.left-menu-about{top:190px;}
    .logo-home a{font-size:1.8em;line-height: 2.8em;}
    div.logo-home{text-align: center;}
    section.main-content-home{top: 190px;}
    div.main-content-home{top: 190px;}
    div.main-content-about{top: 190px;}
    div.main-content-details{top: 190px;}
    div.main-content-type{top: 190px;}
    div.main-content-footer{top: 190px;}
    div.search-selector{top:190px;}
    div.persons-search-results{top: 180px;}
    .registrati a{line-height: 2.4em;}
    .accedi a{line-height:2.4em;}
    .registrati, .accedi{height: 90%;}
    div.panel.panel-info{margin-top: 170px;}
    div.login-form{top: 90px;}
    div.profile-form{top: 90px;}
    div.global-message{top: 90px;}
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 768px et 991px (tablettes )*/
@media all and (min-width: 768px) and (max-width: 991px){
    .logo-home a {font-size:1.8em;}
    .registrati, .accedi{height:50%;}
    .registrati a, .accedi a{line-height:1.8em; font-size:1.2em;}
    div.readmore-text{height: 120px;}
}

@media all and (min-width: 992px) and (max-width: 1199px){
    .logo-home a {font-size:1.6em;}
}
