{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<div id="accountEditPage" class="row">
    <div class="col-md-offset-6 col-md-4 col-xs-offset-2 col-xs-12 profile-form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">{% if up_form.instance.id %}Modifica account{% else %}Registrazione ({{ step }} / 2){% endif %}</h3>
            </div>
            <div class="panel-body">
                <form id="profile_form" method="post" enctype="multipart/form-data" action="">{% csrf_token %}
                    <div class="form-group">
                        {% if up_form.errors or user_form.errors %}
                            <div id="formErrors" class="row">
                                <p class="global-error">Ci sono errori:</p>
                            </div>
                        {% endif %}
                        {% if step == "1" %}
                            <div class="row">
                                {{ user_form.first_name.errors }}
                                <label for="{{ user_form.first_name.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ user_form.first_name.css_classes }}">{{ user_form.first_name.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ user_form.first_name }}
                                </div>
                            </div>
                            <div class="row">
                                {{ user_form.last_name.errors }}
                                <label for="{{ user_form.email.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ user_form.last_name.css_classes }}">{{ user_form.last_name.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ user_form.last_name }}
                                </div>
                            </div>
                            <div class="row">
                                {{ user_form.email.errors }}
                                <label for="{{ user_form.email.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ user_form.email.css_classes }}">{{ user_form.email.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ user_form.email }}
                                </div>
                            </div>
                            <div class="row">
                                {{ user_form.password1.errors }}
                                <label for="{{ user_form.password1.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ user_form.password1.css_classes }}">{{ user_form.password1.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ user_form.password1 }}
                                </div>
                            </div>
                            <div class="row">
                                {{ user_form.password2.errors }}
                                <label for="{{ user_form.password2.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ user_form.password2.css_classes }}">{{ user_form.password2.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ user_form.password2 }}
                                </div>
                            </div>
                            <!--begin-->
                            <div class="row">
                                {{ up_form.city.errors }}
                                <label for="{{ up_form.city.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.city.css_classes }}">{{ up_form.city.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.city }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.place_interest_1.errors }}
                                <label for="{{ up_form.place_interest_1.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.place_interest_1.css_classes }}">{{ up_form.place_interest_1.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.place_interest_1 }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.place_interest_2.errors }}
                                <label for="{{ up_form.place_interest_2.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.place_interest_2.css_classes }}">{{ up_form.place_interest_2.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.place_interest_2 }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.country.errors }}
                                <label for="{{ up_form.country.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.country.css_classes }}">{{ up_form.country.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.country }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.sex.errors }}
                                <label for="{{ up_form.sex.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.sex.css_classes }}">{{ up_form.sex.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.sex }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.age.errors }}
                                <label for="{{ up_form.age.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.age.css_classes }}">{{ up_form.age.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.age }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.web_site.errors }}
                                <label for="{{ up_form.web_site.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ up_form.web_site.css_classes }}">{{ up_form.web_site.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.web_site }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.information.errors }}
                                <label for="{{ up_form.information.id_for_label }}" class="control-label {{ up_form.information.css_classes }}">{{ up_form.information.label }}</label>
                                <div class="col-md-16 col-sm-9">
                                    {{ up_form.information }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.newsletter_registered.errors }}
                                
                                <div class="col-md-16 col-sm-9 checkboxes">
                                    {{ up_form.newsletter_registered }}
                                    <label for="{{ up_form.newsletter_registered.id_for_label }}" class="control-label {{ up_form.newsletter_registered.css_classes }}">{{ up_form.newsletter_registered.label }}</label>
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.mail_post_liked.errors }}

                                <div class="col-md-16 col-sm-9 checkboxes">
                                    {{ up_form.mail_post_liked }}
                                    <label for="{{ up_form.mail_post_liked.id_for_label }}" class="control-label {{ up_form.mail_post_liked.css_classes }}">{{ up_form.mail_post_liked.label }}</label>
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.mail_followed.errors }}

                                <div class="col-md-16 col-sm-9 checkboxes">
                                    {{ up_form.mail_followed }}
                                <label for="{{ up_form.mail_followed.id_for_label }}" class="control-label {{ up_form.mail_followed.css_classes }}">{{ up_form.mail_followed.label }}</label>                               
                                </div>

                            </div>
                            <div class="row">
                                {{ up_form.mail_comment.errors }}
                                <div class="col-md-16 col-sm-9 checkboxes">
                                    {{ up_form.mail_comment }}
                                    <label for="{{ up_form.mail_comment.id_for_label }}" class="control-label {{ up_form.mail_comment.css_classes }}">{{ up_form.mail_comment.label }}</label>
                                </div>
                            </div><!--end of begin-->
                        {% endif %}
                        {% if step == "2" %}
                            {{ up_form.category.errors }}
                            <div class="row user-category-list">
                                {{ up_form.category.as_hidden }}
                                <ul>
                                    {% for uc in user_category_list %}
                                        <li onclick="selectUserCategory({{ uc.id }});" id="category-{{ uc.id }}">&nbsp;{{ uc.label }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="row">
                                {{ up_form.avatar.errors }}
                                <label for="{{ up_form.avatar.id_for_label }}" class="col-md-3 control-label {{ up_form.avatar.css_classes }}">{{ up_form.avatar.label }}</label>
                                <div class="col-md-9">
                                    {{ up_form.avatar }}
                                </div>
                            </div>
                            <div class="row">
                                {{ up_form.terms_and_conditions.errors }}
                                <div class="col-md-16 col-sm-9 checkboxes">
                                    {{ up_form.terms_and_conditions }}
                                    <label for="{{ up_form.terms_and_conditions.id_for_label }}" class="control-label {{ up_form.terms_and_conditions.css_classes }}">{{ up_form.terms_and_conditions.label }}</label>
                                </div>
                            </div>
                        {% endif %}

                    </div> <!-- end form-group -->
                    <!-- TODO: check col / col-offset are right -->
                    <div class="form-group">
                        <div class="col-md-offset-7 col-md-2 col-sm-16 col-xs-offset-13 col-xs-2">
                            <button id="submitButton" type="submit" class="btn btn-primary submit-btn">
                                {% if step == "1" %}
                                    Avanti
                                {% elif step == "2" %}
                                    {% if up_form.instance.id %}Modifica account{% else %}Registrati{% endif %}
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    {% if up_form.instance.id %}
                    <div class="form-group">
                        <div id="lastUpdatedText" class="col-md-offset-3 col-md-11 col-sm-offset-3 col-sm-11 col-xs-offset-2 col-xs-11 form-footer">
                            Ultima modifica: {{ up_form.instance.modified_on|date:"d/m/Y - H:i" }}
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div><!-- end panel-body-->
        </div><!-- end panel -->
    </div><!-- /.col-sm-12 -->
</div>



{% endblock %}

{% block jscript %}
<script>
$(function() {
    // Eventually select the category when it was previously selected
    category_id = $('#id_category').val()
    if (category_id != '') {
        $('#category-'+category_id).attr('class', 'category-selected');
    }
});
function selectUserCategory(category_id) {
    // Unselect all categories
    $( "[id^=category-]" ).each(function( index ) {
        $('#'+this.id).attr('class', '');
    });
    // Select the one clicked on
    $('#category-'+category_id).attr('class', 'category-selected');
    $('#id_category').val(category_id); // id_category is generated by up_form.category.as_hidden
}
</script>
{% endblock %}
