{% extends 'website/skeletons/tpl_base.html' %}

{% block title %}Login{% endblock %}

{% block pageTitle %}Login{% endblock %}

{% block content %}

<div id="loginPage" class="row">
    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 simple-form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Login</h2>
            </div>
            <div class="panel-body">
                <form id="login_form" method="post" action="{% url 'website:login' %}">{% csrf_token %}
                    {% if messages %}
                    <ul id="msgLst" class="messages global-error">
                        {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="form-group">
                        <div class="row">
                            <label for="username" class="col-md-6 col-sm-6 control-label">Indirizzo email</label>
                            <div class="col-md-16 col-sm-16">
                                <input id="username" type="text" name="username" value="" size="45" />
                            </div>
                        </div>
                        <div class="row">
                            <label for="password" class="col-md-6 col-sm-6 control-label">Password</label>
                            <div class="col-md-16 col-sm-16">
                                <input id="password" type="password" name="password" value="" size="45" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-16 col-sm-16 dimenticato" align="left">
                                <p>Hai dimenticato la password? <a href="{% url 'website:reset_password_request' 'init' %}">Clicca qui</a> per reimpostarla.</p>
                            </div>
                        </div>
                    </div>        
                    <div class="form-group">
                        <div class="col-md-offset-7 col-md-2 col-xs-offset-13 col-xs-2">
                            <button id="loginButton" type="submit" class="btn btn-primary submit-btn">Accedi</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
