{% extends 'website/skeletons/tpl_base.html' %}

{% block title %}Cambia la tua password{% endblock %}

{% block pageTitle %}Cambia la tua password{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 simple-form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Cambia la tua password</h2>
            </div>
            <div class="panel-body">
                <form id="password_form" method="post" action="">{% csrf_token %}
                    <div class="form-group">
                        {% for field in form %}
                            <div class="row">
                                <label for="{{ field.id_for_label }}" class="col-md-8 col-sm-8 control-label {{ field.css_classes }}">{{ field.label }}</label>
                                <div class="col-md-16 col-sm-16">
                                    {{ field }}
                                    {% if field.errors %}
                                        <div class="text-danger">{{ field.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>        
                    <div class="form-group">
                        <div class="col-md-offset-13 col-md-3 col-sm-16">
                            <button type="submit" class="btn btn-primary submit-btn">Modifica</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
