{% extends 'website/skeletons/tpl_base.html' %}
{% block title %}Login{% endblock %}
{% block pageTitle %}Login{% endblock %}
{% block content %}
<div id="passwordResetPage" class="row">
    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 simple-form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Cambia la tua password</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    {% if messages %}
                        <ul class="messages global-error">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="col-md-offset-13 col-md-3">
                            <input type="submit" value="Cambia"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
