{% extends 'website/skeletons/tpl_base.html' %}
{% block title %}Login{% endblock %}
{% block pageTitle %}Login{% endblock %}
{% block content %}
<div id="passwordResetPage" class="row">
{% if init or form.errors %}
    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 simple-form">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2 class="panel-title">Reimposta la password</h2>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if messages %}
                            <ul class="messages global-error">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                        <div class="col-md-offset-6 col-md-4">
                        <input type="submit" value="Invia"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% else %}<!-- Mail sent to reset the password -->
    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 general-information-page">
        <div class="col-md-offset-2 col-md-12 global-message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
{% endblock %}




