{% extends 'website/skeletons/tpl_general_message.html' %}

{% block title_general_msg %}
    <div class="col-md-offset-2 col-md-12 global-message">
        La tua password è stata cambiata !<br>
    </div>
{% endblock %}
{% block content_general_msg %}
    <a href="{% url 'website:login' %}">Clicca qui</a> per fare il login
{% endblock %}
