<!-- This file is used in filter_contents.html, person.html, search_results_contents.html, index.html-->
{% load staticfiles %}
{% load thumbnail %}
{% load embed_video_tags %}

<!--content part (posts, eventi...)-->
    <div class="col-md-offset-1 col-md-12 col-sm-11 col-xs-10 main-content-home">
        <div class="row">
            {% for content in object_list %}
                <div id="contentItem" class="col-md-4 col-sm-6 col-xs-12 pin-post"><!--post pin 1-->
                    <div class="content-type">{{ content.content_type_name }}, {{ content.category }} - {{ content.last_modified|date:"d M Y" }}</div>
                    <div class="post-title">
                        <a href="{% url 'website:content_details' content.id content.content_type %}">
                            <h1>{{ content.full_title }}</h1>
                        </a>
                    </div>
                    {% if content.is_event %}
                        <div class="event-details">{{ content.event.city }}
                            <br/>{{ content.event.event_on_start|date:"d F Y" }}
                            {% if not content.event.is_on_same_day %}
                            <br/>al {{ content.event.event_on_end|date:"d F Y" }}
                            {% endif %}
                        </div>
                    {% endif %}
                    <div>
                        {% if content.first_media.is_image %}
                            {% thumbnail content.first_media.image "245x99" crop="top" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        {% elif content.first_media.is_video %}
                            {% video content.first_media.url as my_video %}
                                {% video my_video '237x110' %}
                            {% endvideo %}
                        {% else %}
                            <div class="readmore-text">
                                <p>{{ content.text|truncatewords:"40"|linebreaks }}<a href="{% url 'website:content_details' content.id content.content_type %}">&raquo;&nbsp;leggere il seguito</a></p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="author-details">By <a href="{% url 'website:contents_by_person' content.user_created_by.id %}">{{ content.user_created_by }}</a> - {{ content.user_created_by.category }}</div>
                    <div class="comments-likes-numbers">
                        {% with content.contentcomment_set.count as num_comments %}{{ num_comments }} comment{{ num_comments|pluralize:"o,i" }}{% endwith %}
                        &nbsp;-&nbsp;{{ content.contentlike_set.count }} mi piace</div>
                </div><!--end of post pin 1-->
            {% endfor %}
        </div><!--end of row main content posts-->

        <div class="row"><!--content row pagination-->

                {% include 'website/_inc_paginator_list.html' %}

        </div><!--end of content row pagination-->

    </div><!--end of content part-->
