<div class="row">
    {{ content_form.title.errors }}
    <label for="{{ content_form.title.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.title.css_classes }}">{{ content_form.title.label }}</label>
    <div class="col-md-16 col-sm-9">
        {{ content_form.title }}
    </div>
</div>
<div class="row">
    {{ content_form.text.errors }}
    <label for="{{ content_form.text.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.text.css_classes }}">{{ content_form.text.label }}</label>
    <div class="col-md-16 col-sm-9">
        {{ content_form.text }}
    </div>
</div>
