<!-- File used by search_results_persons.html and filter_persons.html -->
{% load staticfiles thumbnail %}

<div class="col-md-offset-3 col-md-11 col-xs-offset-4 col-xs-12 persons-search-results">

    <input type="hidden" id="nbButtons" value="{{ object_list.count }}"/>

    {% for person in object_list %}
        <div class="col-md-4 col-xs-12 author-identity">
            {% thumbnail person.avatar "80x80" crop="80% top" as avatar %}
                <img src="{{ avatar.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="avatar">
            {% empty %}
                <img src="{% static 'website/layout/img/default_avatar.png' %}" width="40" height="40" alt="avatar">
            {% endthumbnail %}
            <ul>
                <li><a href="{% url 'website:contents_by_person' person.id %}" class="author-details">{{ person }}</a></li>
                <li><a href="{% url 'website:filter_persons_by_category' person.category.id %}" class="handicap">{{ person.category }}</a></li>
                <li>
                    <a href="{% url 'website:contents_by_person' content_type='all' cc_id=-1 person_id=person.id my_contents='personal' %}" class="social-actions">{{ person.list_contents.count }} contenuti</a>&nbsp;-&nbsp;
                    <a href="{% url 'website:filter_persons' person.id 'followers' %}" class="social-actions">{{ person.list_followers.count }} followers&nbsp;-&nbsp;
                    <a href="{% url 'website:filter_persons' person.id 'following' %}" class="social-actions">{{ person.list_following.count }} followings</a>
                </li>
                <li><a href="">Link</a></li>

                {% if user.is_authenticated and user.id != person.user.id %}
                    <!-- Will be changed by jquery when after the page is loaded and when the button is clicked on -->
                    <button class="follow-person" id="followButton{{ forloop.counter0 }}" hidden="true" type="button" onclick="buttonFollowClick({{ forloop.counter0 }})" value="{{ person.id }}"></button>
                {% else %}
                    &nbsp;
                {% endif %}
            </ul>
        </div>
    {% endfor %}
        <div class="row"><!--pagination-->
            {% include 'website/_inc_paginator_list.html' %}
        </div>
</div>
