<nav class="col-md-offset-2 col-md-3 col-sm-5 col-xs-16 left-menu-other-pages">
    <div>
        <ul>
            {% ifequal page 'about_us' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:about_us' %}">About us</a></li>
            {% ifequal page 'terms_and_conditions' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:terms_and_conditions' %}">Termini e condizioni</a></li>
            {% ifequal page 'privacy' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:privacy' %}">Privacy</a></li>
            {% ifequal page 'contacts' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contacts' %}">Contatti</a></li>
        </ul>
    </div>
</nav>