{% load i18n %}
{% if paginator.count > 0 %}
    <div class="col-md-offset-4 col-md-12 col-xs-16 pagination">
        <ul class="pagination"><!--See https://openclassrooms.com/courses/prenez-en-main-bootstrap/les-composants-integres-->
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}
            {% for page_number in paginator.page_range %}
                <li>
                    {% if page_number != page_obj.number %}
                        <a href="?page={{ page_number }}">{{ page_number }}</a>
                    {% else %}
                        <span>{{ page_number }}</span>
                    {% endif %}
                </li>
            {% endfor %}            
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>    
            {% endif %}
        </ul>
    </div><!--end of pagination-->
{% endif %}
