<div class="col-md-offset-6 col-md-3 col-xs-16 search-selector">
    {% if are_results %}
        <h3>Risultati ricerca per "{{ search }}"</h3><h3>
    {% else %}
        <h3>Non ci sono risultati per "{{ search }}".</h3>
    {% endif %}
    <form name="searchByForm" method="POST" action="{% url other_search_view_url %}">{% csrf_token %}
        <input type="hidden" name="search" value="{{ search }}"/>
        
        <div class="btn-group" role="group" aria-label="...">
          {% if search_by == 'contents' %}
            <button type="button" class="btn btn-default selected">Contenuti</button>
            <button id="personTabButton" type="submit" class="btn btn-default">Persone</button>
          {% elif search_by == 'persons' %}
            <button id="contentTabButton" type="submit" class="btn btn-default">Contenuti</button>
            <button type="button" class="btn btn-default selected">Persone</button>
          {% endif %}
        </div>  
                
    </form>
</div>
