{# category is a parameter passed when this file is included #}
{% if category != 'no' %}
    {{ content_form.category.errors }}
    <div class="row content-category-list">
        {{ content_form.category.as_hidden }}
        <ul>
            {% for cc in content_category_list %}
                <li onclick="selectContentCategory({{ cc.id }});" id="category-{{ cc.id }}">&nbsp;{{ cc.label }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{{ media_image_formset.management_form }}

{{ media_image_formset.non_form_errors }}

{% for media_image_form in media_image_formset %}
    {{ media_image_form.image.errors }}
    <label for="{{ media_image_form.image.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ media_image_form.image.css_classes }}">{{ media_image_form.image.label }}</label>
    <div class="row">
        <div class="col-md-16 col-sm-9">
            {{ media_image_form.image }}
        </div>
    </div>
{% endfor %}

{{ media_links_formset.management_form }}

{{ media_links_formset.non_form_errors }}

{% for media_links_form in media_links_formset %}
    {{ media_links_form.url.errors }}
    <label for="{{ media_links_form.url.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ media_links_form.url.css_classes }}">{{ media_links_form.url.label }}</label>
    <div class="row">
        <div class="col-md-16 col-sm-9">
            {{ media_links_form.url }}
        </div>
    </div>
{% endfor %}
