{% load thumbnail %}
{% load embed_video_tags %}
<!-- This include file is used by tpl_content_details and by tutorial_details.html -->
<!-- Parameter passed are: item (type: Content) -->

{% if content.first_media.is_image %}
    {% thumbnail content.first_media.image "400x300" as im %}
        <img src="{{ im.url }}">
    {% endthumbnail %}
{% elif content.first_media.is_video %}
    {% video content.first_media.url as my_video %}
        {% video my_video '400x300' %}
    {% endvideo %}
{% endif %}

<p></p>
<p>{{ content.text|linebreaksbr }}</p>

{% for media in content.list_other_media %}
    {% if media.is_image %}
        {% thumbnail media.image "400x300" as im %}
            <img src="{{ im.url }}" alt="{{ media.title }}">
        {% endthumbnail %}
    {% elif media.is_video %}
        {% video media.url as my_video %}
            {% video my_video '400x300' %}
        {% endvideo %}
    {% elif media.is_audio %}
        <p>{{ media.title }}: file audio - formato non ancora supportato</p>
    {% endif %}
{% endfor %}
