{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!--row 2-->
<div class="row">
    {% include 'website/_inc_menu_other_pages.html' with page='contacts'%}

<!--content part (posts, eventi...)-->
    <div class="col-md-5 col-sm-11 col-xs-16 main-content-about">

        <h4>Contacts</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue
        ligula ac quam viverra nec consectetur ante hendrerit. Donec et
        mollis dolor. Praesent et diam eget libero egestas mattis sit amet
        vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur. Donec ut libero sed arcu vehicula ultricies a non
        tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed,
        adipiscing id dolor. Pellentesque auctor nisi id magna consequat
        sagittis.</p>


        <video src="https://www.youtube.com/watch?v=bZsqdTrr1eM" controls poster="{% static 'website/layout/img/videos/video-preview.jpg' %}">
        </video>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit
        Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue
        ligula ac quam viverra nec consectetur ante hendrerit. Donec et
        mollis dolor. Praesent et diam eget libero egestas mattis sit amet
        vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia
        consectetur. Donec ut libero sed arcu vehicula ultricies a non
        tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed,
        adipiscing id dolor. Pellentesque auctor nisi id magna consequat
        sagittis.</p>

    </div>
    <!--end of content part-->

</div><!--end of row 2-->

{% endblock %}
