{% extends 'website/skeletons/tpl_content_details.html' %}

{% block item_body_header %}

<div class="event-details">{{ content.event.city }}
    <br/>{{ content.event.event_on_start }}
    {% if not content.event.is_on_same_day %}
    <br/>al {{ content.event.event_on_end }}
    {% endif %}
    <br/>
    <address>
        {{ content.event.addr1 }}
        {% if content.event.addr2 %}<br/>{{ content.event.addr2 }}{% endif %}
        <br/>{{ content.city }}
    </address>
</div>

{% endblock %}
