{% extends 'website/skeletons/tpl_content_edit.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block head %}
    <link rel="stylesheet" href="{% static 'website/layout/bootstrap-datetime-picker/bootstrap-datetimepicker.min.css' %}" />
{% endblock %}

{% block content_body %}
    {% if step == "1" %}

        {% include 'website/_inc_content_edit1.html' %}

        <div class="row">
            {{ content_form.event_on_start.errors }}
            <label for="{{ content_form.event_on_start.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.event_on_start.css_classes }}">{{ content_form.event_on_start.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.event_on_start }}
            </div>
        </div>
        <div class="row">
            {{ content_form.event_on_end.errors }}
            <label for="{{ content_form.event_on_end.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.event_on_end.css_classes }}">{{ content_form.event_on_end.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.event_on_end }}
            </div>
        </div>
        <div class="row">
            {{ content_form.addr1.errors }}
            <label for="{{ content_form.addr1.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.addr1.css_classes }}">{{ content_form.addr1.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.addr1 }}
            </div>
        </div>
        <div class="row">
            {{ content_form.addr2.errors }}
            <label for="{{ content_form.addr2.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.addr2.css_classes }}">{{ content_form.addr2.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.addr2 }}
            </div>
        </div>
        <div class="row">
            {{ content_form.city.errors }}
            <label for="{{ content_form.city.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.city.css_classes }}">{{ content_form.city.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.city }}
            </div>
        </div>
        <div class="row">
            {{ content_form.country.errors }}
            <label for="{{ content_form.country.id_for_label }}" class="col-md-6 col-sm-6 control-label {{ content_form.country.css_classes }}">{{ content_form.country.label }}</label>
            <div class="col-md-16 col-sm-9">
                {{ content_form.country }}
            </div>
        </div>
    {% endif %}
    {% if step == "2" %}

        {% include 'website/_inc_content_edit2.html' %}

    {% endif %}
{% endblock %}

{% block sub_jscript %}      
    <script src="{% static 'website/layout/bootstrap-datetime-picker/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'website/layout/bootstrap-datetime-picker/bootstrap-datetimepicker.min.js' %}"></script>
    <script>
    $(function () {
        $('#id_event_on_start').datetimepicker({
            locale: 'it',
            //minDate: new Date(),
        });
        $('#id_event_on_end').datetimepicker({
            locale: 'it',
            //minDate: new Date(),
        });

        // Eventually select the category when it was previously selected
        category_id = $('#id_category').val()
        if (category_id != '') {
            $('#category-'+category_id).attr('class', 'category-selected');
        }
    });

    </script>
{% endblock %}



