{% extends 'website/skeletons/tpl_base.html' %}

{% load staticfiles %}
{% load thumbnail %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!--row 2--> 
<div class="row">
    TITOLO da inserire
</div>
<div class="row">
    {% include 'website/_inc_list_results_persons.html' %} 
</div>
<div class="row"><!--content row 2-->
    {% include 'website/_inc_paginator_list.html' %}
</div>

{% endblock %}

{% block jscript %}
<script src="{% static 'website/layout/js/ia/follow_person.js' %}"></script>
<script>
$(function() {
    initFollowButtonsStates();
});
</script>
{% endblock %}
