{% extends 'website/skeletons/tpl_general_message.html' %}

{% block title_general_msg %}<h4 class="global-message">Errore</h4>{% endblock %}
{% block content_general_msg %}
<ul class="messages global-error">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endblock %}
