{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!--row 2--> 
<div id="homePage" class="row">
<!--menu left-->
    <nav class="col-md-3 col-sm-4 col-xs-5 left-menu">
        <div>
            <h4>Tipologie</h4>
            <ul>
                {% ifequal content_type 'all' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' 'all' cc_id %}">Tutte</a></li>
                {% ifequal content_type 'post' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' 'post' cc_id %}">Post</a></li>
                {% ifequal content_type 'tutorial' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' 'tutorial' cc_id %}">Tutorial</a></li>
                {% ifequal content_type 'event' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' 'event' cc_id %}">Eventi</a></li>
            </ul>
        </div>

        <div>
            <h4>Categorie</h4>
            <ul>
                {% ifequal cc_id '-1' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' content_type -1 %}"><span class="glyphicon glyphicon-ok"></span> Tutte</a></li>
                {% for cc in content_category_list %}
                    {% ifequal cc_id cc.id|stringformat:"i" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' content_type cc.id %}"><img src="{{ MEDIA_URL }}/{{ cc.icon.name }}" alt="{{ cc.label }}" align="middle"/>&nbsp;{{ cc.label }}</a></li>
                {% endfor %}
                {% ifequal cc_id '0' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:home_filter' content_type 0 %}"><span class="glyphicon glyphicon-ok"></span>&nbsp;Altro</a></li> <!-- No category content -->
            </ul>
        </div>
    </nav>
<!--end of menu left-->

<!--content part (posts, eventi...)-->
    {% include 'website/_inc_list_results_contents.html' %}

</div><!--end of row 2-->

{% endblock %}
