{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles thumbnail %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!-- Profile details (modal) -->
<div id="profileDetails" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% thumbnail person.avatar "60x60" as avatar %}
                    <img src="{{ avatar.url }}" width="{{ img.width }}" height="{{ img.height }}" alt="avatar">
                {% empty %}
                    <img src="{% static 'website/layout/img/default_avatar.png' %}" width="40" height="40" alt="avatar">
                {% endthumbnail %}
                <ul class="modal-title" id="myModalLabel">
                <li class="author-name">{{ person }}</li>
                <li class="profile-field-title">{{ person.category }}</li>
                </ul>
            </div>
            <div class="modal-body">
                <h1 class="profile-field-title">Città</h1>
                <p>{{ person.city }}</p>
                <hr>
                
                <h1 class="profile-field-title">Biografia / informazioni</h1>
                <p>{{ person.information|linebreaksbr|default:"Nessun biographia"}}</p>
                <hr>

                <h1 class="profile-field-title">Link</h1>
                {% if person.web_site %}
                    <a href="{{ person.web_site }}" class="user-link">{{ person.web_site }}</a>
                {% else %}
                    <p>Nessun link</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!--row 2-->
<div class="row">
<!--menu left-->
    <nav class="col-md-3 col-sm-4 col-xs-5 left-menu">
        <div class="left-menu-square-profile">
            <button class="person-information" type="button" data-toggle="modal" data-target="#profileDetails">

            </button>
            <ul>
                <li>{{ person }}</li>
                <!-- Button trigger modal -->

                <li class="handicap">{{ person.category }}</li>
                {% thumbnail person.avatar "80x80" as avatar %}
                    <img src="{{ avatar.url }}" crop="80% top" alt="avatar">
                {% empty %}
                    <img src="{% static 'website/layout/img/default_avatar.png' %}" width="40" height="40" alt="avatar">
                {% endthumbnail %}
                <li>
                    <a href="{% url 'website:filter_persons' person.id 'followers' %}">{{ person.list_followers.count }} followers</a>
                    <a href="{% url 'website:filter_persons' person.id 'following' %}">{{ person.list_following.count }} followings</a>
                </li>
                {% if user.is_authenticated %}
                <li class="profile-links">
                {% if user.id == person.id %}
                    <a href="{% url 'website:account_update' user.id 1 %}">Modifica account</a>
                    <a href="{% url 'website:filter_persons' user.id 'close_to_me' %}">Vicino a te</a>
                {% else %}
                    <!--button>Seguire</button-->
                    <!-- Will be changed by jquery (don't change class, id below) -->
                    <button class="already-follow-person" hidden="true" id="followButton0" type="button" onclick="buttonFollowClick(0)" value="{{ person.id }}"></button>
                {% endif %}
                </li>
                {% endif %}
            </ul>
        </div>
        <div>
            <h4>Contenuti</h4>
            <ul>
                {% ifequal my_contents 'all' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type cc_id person.id 'all' %}">Tutti contenuti</a></li>
                {% ifequal my_contents 'personal' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type cc_id person.id 'personal' %}">Contenuti personali</a></li>
                {% ifequal my_contents 'like' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type cc_id person.id 'like' %}">Contenuti che piacciono</a></li>
            </ul>
        </div>
        <div>
            <h4>Tipologie</h4>
            <ul>
                {% ifequal content_type 'all' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' 'all' cc_id person.id my_contents %}">Tutte</a></li>
                {% ifequal content_type 'post' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' 'post' cc_id person.id my_contents %}">Post</a></li>
                {% ifequal content_type 'tutorial' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' 'tutorial' cc_id person.id my_contents %}">Tutorial</a></li>
                {% ifequal content_type 'event' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' 'event' cc_id person.id my_contents %}">Eventi</a></li>
            </ul>
        </div>

        <div>
            <h4>Categorie</h4>
            <ul>
                {% ifequal cc_id '-1' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type -1 person.id my_contents %}"><span class="glyphicon glyphicon-ok"></span> Tutte</a></li>
                {% for cc in content_category_list %}
                    {% ifequal cc_id cc.id|stringformat:"i" %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type cc.id person.id my_contents %}"><img src="{{ MEDIA_URL }}/{{ cc.icon.name }}" alt="{{ cc.label }}" align="middle"/>&nbsp;{{ cc.label }}</a></li>
                {% endfor %}
                {% ifequal cc_id '0' %}<li class="selected">{% else %}<li>{% endifequal %}<a href="{% url 'website:contents_by_person' content_type 0 person.id my_contents %}"><span class="glyphicon glyphicon-ok"></span>&nbsp;Altro</a></li> <!-- No category content -->
            </ul>
        </div>
    </nav>
<!--end of menu left-->

<!--content part (posts, eventi...)-->
    {% include 'website/_inc_list_results_contents.html' %}

</div><!--end of row 2-->

{% endblock %}

{% block jscript %}
<script src="{% static 'website/layout/js/ia/follow_person.js' %}"></script>
<script>
$(function() {
    initFollowButtonsStates();
});
</script>
{% endblock %}
