{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!--row 2--> 
<div class="row">
    {% include 'website/_inc_list_results_header.html' %}
</div>
<div class="row">
    {% include 'website/_inc_list_results_persons.html' %}
</div>


{% endblock %}

{% block jscript %}
<script src="{% static 'website/layout/js/ia/follow_person.js' %}"></script>
<script>
$(function() {
    initFollowButtonsStates();
});
</script>
{% endblock %}
