{% extends 'website/skeletons/tpl_content_details.html' %}
{% load staticfiles %}

{% block item_body_header %}
{% endblock %}

{% block item_body_more %}

    <div class="col-md-offset-5 col-md-6 col-xs-16 nav-steps-tutorial">
            {% if content.previous_part %}
                <a href="{% url 'website:tutorial_part_display' content.id 'previous' %}"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Precedente</a>
            {% endif %}
            {% if content.next_part %}
                &nbsp;<a href="{% url 'website:tutorial_part_display' content.id 'next' %}">Sucessiva&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></a>
            {% endif %}
    </div>

{% endblock %}

{% block specific_actions %}
{% if content.is_last_part %}
    <div class="content-actions">
        <span class="glyphicon glyphicon-plus"></span><a href="{% url 'website:tutorial_part_add' content.id %}">Crea un'altra parte</a>
    </div>
{% endif %}

{% endblock %}
