{% load i18n staticfiles thumbnail %}
<html lang="it">
    <head>
        <title>{% block title %}Infinity Access{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Infinity Access">
        <meta name="author" content="Marisa" >
        <link rel="icon" type="image/png" href="{% static 'website/layout/img/icons/ia-icon.png' %}" />
        <link rel="stylesheet" href="{% static 'website/layout/bootstrap/css/bootstrap.css' %}" />
        <link rel="stylesheet" href="{% static 'website/layout/bootstrap/css/bootstrap-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'website/layout/ia-theme.css' %}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block head %}{% endblock %}
        <script type='text/javascript' src='http://code.farfalla-project.org/farfalla.js'></script>
    </head>

    <body>
        <div class="container">
            <!--row 1-->
            <header>
                <div class="row">
                    <nav class="col-md-16 col-sm-16 col-xs-16 top-navbar">
                        <div class="col-md-3 col-sm-4 col-xs-16 logo-home"><a href="/"><img src="{% static 'website/layout/img/logo_menu-230px.png' %}" alt="infinity access"></a></div>
                        <div class="col-md-1 col-sm-2 col-xs-3 top-arrow">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}">
                        {% else %}
                            <a href="#">
                        {% endif %}
                                <img src="{% static 'website/layout/img/icons/left_icon_black_active20x20.png' %}" alt="previous page">
                            </a>
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">
                        {% else %}
                            <a href="#">
                        {% endif %}
                                <img src="{% static 'website/layout/img/icons/right_icon_black_active20x20.png' %}" alt="next page">
                            </a>
                        </div>
                        <div class="col-md-7 col-sm-5 col-xs-13 top-search-box">
                            <form id="searchForm" method="post" action="{% url 'website:search_results_contents' %}">{% csrf_token %}
                                <div class="input-group">
                                    <input id="searchField" name="search" type="text" class="form-control" placeholder="Cerca">
                                    <span class="input-group-btn">
                                        <button id="searchButton" class="btn btn-default" type="submit" form="searchForm">Ok</button>
                                    </span>
                                </div>
                            </form>
                        </div>

                        {% if user.is_authenticated %}
                            <div class="row">
                                <div class="col-md-offset-1 col-md-4 col-xs-16 accedi">
                                    <div class="col-md-2 col-xs-3 avatar">
                                        {% thumbnail request.session.user_avatar_img_path "60x60" as avatar %}
                                            <img src="{{ avatar.url }}" alt="avatar">
                                        {% empty %}
                                            <img src="{% static 'website/layout/img/default_avatar.png' %}" width="60" height="60" alt="avatar">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-10 username">
                                        <ul class="nav">
                                            {% comment "A super user has no profile" %}{% endcomment %}
                                            {% if not user.is_superuser %}
                                                <li class="dropdown">
                                                    <a id="userProfileMenuLink" data-toggle="dropdown" class="dropdown-toggle" href="{% url 'website:contents_by_person' user.id %}">{{ user.userprofile }}</br><span>{{ user.userprofile.category }}</span></a>
                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li><a href="{% url 'website:my_profile' user_id=user.id %}">Il tuo profilo</a></li>
                                                        <li><a id="updateAccountLink" href="{% url 'website:account_update' user.id 1 %}">Modifica account</a></li>
                                                        <li><a href="{% url 'website:change_password' pk=user.id %}">Modifica password</a></li>
                                                        <li><a id="logoutLink" href="{% url 'website:logout' %}">Esci</a></li>
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li class="dropdown"><a class="dropdown-toggle">{{ user }}</br></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    <div class="col-md-3 col-sm-2 col-xs-2 create-icon">
                                        <ul class="nav">
                                            <li class="dropdown">
                                                <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="padding-left: 2px;"><img src="{% static 'website/layout/img/icons/write-document.png' %}" alt=""></a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a id="createPost" href="{% url 'website:content_add' 1 'post' %}">Crea un post</a></li>
                                                    <li><a id="createEvent" href="{% url 'website:content_add' 1 'event' %}">Crea un evento</a></li>
                                                    <li><a id="createTutorial" href="{% url 'website:content_add' 1 'tutorial' %}">Crea un tutorial</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-offset-1 col-md-2 col-sm-offset-5 col-sm-2 col-xs-offset-8 col-xs-4 registrati"><a id="registerLink" href="{% url 'website:account_add' step=1 %}">Registrati</a></div>
                            <div class="col-md-2 col-xs-4 accedi"><a id="loginLink" href="{% url 'website:login' %}">Accedi</a></div>

                        {% endif %}
                    </nav>
                </div>
            </header>
            <!--end of row 1-->

            {% block content %}{% endblock %}

            <div class="row"><!--row 3 footer-->
                <footer class="col-md-16 col-xs-16">
                    <div class="col-md-16 col-xs-16 logo-bottom"><h1>Infinity Access</h1></div>
                    <nav class="col-md-16 col-xs-16 nav-bottom">
                        <ul>
                            <li><a href="{% url 'website:home' %}">Homepage</a></li>
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'website:login' %}">Accedi</a></li>
                                <li><a href="{% url 'website:account_add' step=1 %}">Registrati</a></li>
                            {% endif %}
                            <li><a href="{% url 'website:about_us' %}">About us</a></li>
                            <li><a href="{% url 'website:terms_and_conditions' %}">Termini e condizioni</a></li>
                            <li><a href="{% url 'website:privacy' %}">Privacy</a></li>
                            <li><a href="{% url 'website:contacts' %}">Contatti</a></li>
                            <br><br><img src="{% static 'website/layout/img/nuovi_fermenti.png' %}" alt="nuovi fermenti">
                            <br><li class="nuovi_fermenti">Questo sito è stato finanziato dal progetto Nuovi Fermenti di Sviluppo Basilicata</li>
                        </ul>
                    </nav>
                    <div class="col-md-16 col-xs-16 visit-button"><a href="http://iacommerce.openlabmatera.org">Visita il nostro store</a></div>
                    <div class="col-md-16 col-xs-16 bottom-social-icons">
                        <a href="#"><img src="{% static 'website/layout/img/icons/facebook_icon_black20x20.png' %}" alt="facebook"></a>
                        <a href="#"><img src="{% static 'website/layout/img/icons/twitter_icon_black20x20.png' %}" alt="twitter"></a>
                        <a href="#"><img src="{% static 'website/layout/img/icons/instagram_icon_black20x20.png' %}" alt="instagram"></a>
                        <a href="#"><img src="{% static 'website/layout/img/icons/youtube_icon_black20x20.png' %}" alt="youtube"></a>
                    </div>
                    <div class="col-md-16 col-xs-16 informazioni-bottom"><a href="#">Informazioni azienda</a></div>
                </footer>
            </div>
        </div><!--End of div container-->

        <script src="{% static 'website/layout/js/jquery/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'website/layout/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block jscript %}{% endblock %}

    </body>
</html>
