{% extends 'website/skeletons/tpl_base.html' %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<!--row contents details--> 
<div id="contentDetailsPage" class="row">
    <div class="col-md-offset-5 col-md-6 col-xs-16 main-content-type">            
        <p>{{ content.content_type_name }}, {{ content.category }} - Il {{ content.last_modified|date:"d M Y" }}</p>           
    </div>

    <div class="col-md-offset-5 col-md-6 col-xs-16 main-content-details">
        <p class="author-details">By <a href="{% url 'website:contents_by_person' content.user_created_by.id %}">{{ content.user_created_by }}</a> - {{ content.user_created_by.category }}</p>
        <h4>{{ content.full_title }}</h4>
        {% block item_body_header %}{% endblock %}
        {% include 'website/_inc_content_details_body.html' %}
    </div>
    
    <div class="col-md-offset-10 col-md-1 col-xs-3 under-social-icons">
    <img src="{% static 'website/layout/img/icons/share_facebook_icon_hover.png' %}" alt="">
    <img src="{% static 'website/layout/img/icons/share_twitter_icon_hover.png' %}" alt="">
    </div>
    
    
    
    <div class="col-md-offset-5 col-md-6 col-xs-16 block-content-actions">
            <input type="hidden" id="contentId" name="content_id" value="{{ content.id }}"/>
            {% if user.is_authenticated and user.id != content.user_created_by.id %}

                <button hidden="true" id="likeButton" type="button" value="" class="piace"></button> <!-- Will be changed by jquery -->
            
            {% elif user.is_authenticated  %}

                <div class="content-actions">
                    <span class="glyphicon glyphicon-pencil"></span><a href="{% url 'website:content_update' content.id 1 content.content_type %}">Modifica</a>
                </div>
                {% block specific_actions %}{% endblock %}

            {% endif %}
     </div>

    {% block item_body_more %}{% endblock %}

    <div class="col-md-offset-5 col-md-6 col-xs-16 main-content-footer">
        {% with content.contentlike_set.count as num_likes %}
        <div class="col-md-4 col-xs-5">
            <a href="{% url 'website:filter_persons_like_content' content.id %}"><span class="glyphicon glyphicon-heart"></span>&nbsp;Piace a {{ num_likes }} person{{ num_likes|pluralize:"a,e" }}</a>
        </div>         
        {% endwith %}      
    </div>

    {% with content.contentcomment_set.count as num_comments %}
    <div class="col-md-offset-5 col-md-6 col-xs-16 main-content-write-comments">
        <h5>{{ num_comments }} comment{{ num_comments|pluralize:"o,i" }}</h5>
        {% if user.is_authenticated %}
            <form name="commentForm" method="POST" action="{% url 'website:add_comment_to_content' %}">{% csrf_token %}
                <input type="hidden" name="content_id" value="{{ content.id }}"/>
                <input type="hidden" name="content_type" value="{{ content.content_type }}"/>
                <textarea class="form-control" name="comment" cols="67" rows="8"></textarea>
                <button class="col-md-offset-6 col-md-4 col-xs-offset-5 col-xs-5" type="submit">Commenta</button>
            </form>
        {% endif %}
    </div>
    {% endwith %}

    {% for comment in content.contentcomment_set.all %}
        <div class="col-md-offset-5 col-md-6 col-xs-16 main-content-comments">
            <div>
                <hr>
                <p class="author-details"><a href="#">{{ comment.user_created_by }}</a> - {{ comment.user_created_by.category }} - <span>{{ comment.user_created_on }}</span></p>
                <p>{{ comment.comment }}</p>
            </div>
        </div>
    {% endfor %}
</div><!--end of row-->

{% endblock %}

{% block jscript %}
<script>
    $(function() {
        console.log($('#likeButton').html());
        jQuery.ajax({
            async: false,
            type: "POST",
            url: "{% url 'website:is_content_liked' %}",
            data: "content_id=" + $('#contentId').val(),
            success: function(response) {
                //console.log(response);
                result = JSON.parse(response);
                if (! result) {
                    console.log('error');
                }
                if (result.user_auth) {
                    $('#likeButton').show();
                    setLikeButton(!result.liked);
                }
            }
        });
    });

    function swap_like_content(){
        jQuery.ajax({
            async: false,
            type: "POST",
            url: "{% url 'website:swap_like_content' %}",
            data: "content_id=" + $('#contentId').val(),
            success: function(response) {
                result = JSON.parse(response);
                if (! result) {
                    console.log('error');
                }
            }
        });
    }

    $("#likeButton").click(function(){
        console.log($('#likeButton').val());
        swap_like_content(); // AJAX function
        if ($('#likeButton').val() == 'like') {
            setLikeButton(false);
        } else {
            setLikeButton(true);
        }
    });
    
    function setLikeButton(is_like) {
        if (! is_like) {
            $('#likeButton').val('dislike');
            $('#likeButton').html('Non mi piace più');
        } else {
            $('#likeButton').val('like');
            $('#likeButton').html('Mi piace');
        }
    }
</script>
{% endblock %}
