{% extends 'website/skeletons/tpl_base.html' %}

{% block title %}Infinity Access{% endblock %}

{% block content %}

<div class="row">

    <div class="col-md-offset-6 col-md-4 col-sm-6 col-xs-offset-3 col-xs-10 general-information-page">
    
        <h4>{% block title_general_msg %}{% endblock %}</h4>

        <div class="col-md-offset-2 col-md-12 global-message">
            <p>{% block content_general_msg %}{% endblock %}</p>
        </div>
        
    </div>
    
</div><!--end of row-->

{% endblock %}
